In [1]:
import pandas as pd
# 1.Import an event log (csv format only) as a pandas dataframe
small = pd.read_csv('small.csv')
print(small)

          Case ID    Activity       Complete Timestamp    Variant  \
0       case_1153  Activity A  1970/01/01 09:00:00.000  Variant 2
1       case_1153  Activity B  1970/01/01 10:00:00.000  Variant 2
2       case_1153  Activity C  1970/01/01 11:00:00.000  Variant 2
3       case_1153  Activity D  1970/01/01 12:00:00.000  Variant 2
4       case_1153  Activity E  1970/01/01 13:00:00.000  Variant 2
...           ...         ...                      ...        ...
111363  case_3542  Activity K  1970/01/01 14:00:00.000  Variant 5
111364  case_3542  Activity O  1970/01/01 15:00:00.000  Variant 5
111365  case_3542  Activity P  1970/01/01 16:00:00.000  Variant 5
111366  case_3542  Activity L  1970/01/01 17:00:00.000  Variant 5
111367  case_3542  Activity F  1970/01/01 18:00:00.000  Variant 5

        Variant index
0                   2
1                   2
2                   2
3                   2
4                   2
...               ...
111363              5
111364              5
111365              5
111366              5
111367              5

[111368 rows x 5 columns]

In [2]:
#2.Rename the attributes as “caseid, activity, ts” if names are different (ts is for timestamp!)
small.columns = ['caseid', 'activity','ts'] + small.columns.tolist()[3:]
#small.columns:method to get all columns in small dataframe
#small.columns.tolist():this method converts all columns in small into a python list
#[3:]:this is a slicing operation of python list to get some elements in the list from fourth elements to the end.
print(small)

           caseid    activity                       ts    Variant  \
0       case_1153  Activity A  1970/01/01 09:00:00.000  Variant 2
1       case_1153  Activity B  1970/01/01 10:00:00.000  Variant 2
2       case_1153  Activity C  1970/01/01 11:00:00.000  Variant 2
3       case_1153  Activity D  1970/01/01 12:00:00.000  Variant 2
4       case_1153  Activity E  1970/01/01 13:00:00.000  Variant 2
...           ...         ...                      ...        ...
111363  case_3542  Activity K  1970/01/01 14:00:00.000  Variant 5
111364  case_3542  Activity O  1970/01/01 15:00:00.000  Variant 5
111365  case_3542  Activity P  1970/01/01 16:00:00.000  Variant 5
111366  case_3542  Activity L  1970/01/01 17:00:00.000  Variant 5
111367  case_3542  Activity F  1970/01/01 18:00:00.000  Variant 5

        Variant index
0                   2
1                   2
2                   2
3                   2
4                   2
...               ...
111363              5
111364              5
111365              5
111366              5
111367              5

[111368 rows x 5 columns]

In [3]:
#3.Create an event log (= a new dataframe) retaining only the caseid, activity and ts attributes
small = small[['caseid', 'activity','ts']]
print(small)

           caseid    activity                       ts
0       case_1153  Activity A  1970/01/01 09:00:00.000
1       case_1153  Activity B  1970/01/01 10:00:00.000
2       case_1153  Activity C  1970/01/01 11:00:00.000
3       case_1153  Activity D  1970/01/01 12:00:00.000
4       case_1153  Activity E  1970/01/01 13:00:00.000
...           ...         ...                      ...
111363  case_3542  Activity K  1970/01/01 14:00:00.000
111364  case_3542  Activity O  1970/01/01 15:00:00.000
111365  case_3542  Activity P  1970/01/01 16:00:00.000
111366  case_3542  Activity L  1970/01/01 17:00:00.000
111367  case_3542  Activity F  1970/01/01 18:00:00.000

[111368 rows x 3 columns]

In [6]:
#4.Create a new dataframe with columns caseid, list of events in a case (ordered by timestamp)
def create_event_list(event_log):
    event_log['ts'] = pd.to_datetime(event_log['ts'] )#convert ts into a python datetime object
    grouped=event_log.sort_values('ts').groupby('caseid')['activity'].apply(list).reset_index()#sort and group
    grouped.columns = ['caseid', 'list_ordered_ts']
    return grouped
events_small = create_event_list(small)
print(events_small)

          caseid                                    list_ordered_ts
0         case_0  [Activity A, Activity B, Activity C, Activity ...
1         case_1  [Activity A, Activity B, Activity C, Activity ...
2        case_10  [Activity A, Activity B, Activity C, Activity ...
3       case_100  [Activity A, Activity B, Activity C, Activity ...
4      case_1000  [Activity A, Activity B, Activity C, Activity ...
...          ...                                                ...
12495  case_9995  [Activity A, Activity B, Activity C, Activity ...
12496  case_9996  [Activity A, Activity B, Activity C, Activity ...
12497  case_9997  [Activity A, Activity B, Activity C, Activity ...
12498  case_9998  [Activity A, Activity B, Activity C, Activity ...
12499  case_9999  [Activity A, Activity B, Activity C, Activity ...

[12500 rows x 2 columns]

In [8]:
#5.	Augment the event log created at 4 with two new attributes: duration, event_number. duration = ts(last event in case) - ts(first event in case);Event_number: number of events in a case
def augment_event_log(event_log):
    event_log['ts'] = pd.to_datetime(event_log['ts'])
    augmented_df = event_log.groupby('caseid').agg(duration=('ts', lambda x: x.max() - x.min()), event_number=('activity', 'count')).reset_index()
    return augmented_df

augmented_event_small = augment_event_log(small)
print(augmented_event_small)

          caseid        duration  event_number
0         case_0 0 days 06:00:00             7
1         case_1 0 days 08:00:00             9
2        case_10 0 days 09:00:00            10
3       case_100 0 days 06:00:00             7
4      case_1000 0 days 06:00:00             7
...          ...             ...           ...
12495  case_9995 0 days 09:00:00            10
12496  case_9996 0 days 06:00:00             7
12497  case_9997 0 days 09:00:00            10
12498  case_9998 0 days 06:00:00             7
12499  case_9999 0 days 09:00:00            10

[12500 rows x 3 columns]

In [9]:
#6.Find the longest/shortest case by duration - duration = ts(last event in case) - ts(first event in case)
def find_extreme_cases_duration(augmented_event_log):
    longest_case = augmented_event_log[augmented_event_log['duration'] == augmented_event_log['duration'].max()]
    shortest_case = augmented_event_log[augmented_event_log['duration'] == augmented_event_log['duration'].min()]
    return longest_case, shortest_case

longest_case_small, shortest_case_small = find_extreme_cases_duration(augmented_event_log_small)
print(longest_case_small, shortest_case_small)

           caseid        duration  event_number
2         case_10 0 days 09:00:00            10
5      case_10000 0 days 09:00:00            10
7      case_10002 0 days 09:00:00            10
8      case_10003 0 days 09:00:00            10
9      case_10004 0 days 09:00:00            10
...           ...             ...           ...
12492   case_9992 0 days 09:00:00            10
12493   case_9993 0 days 09:00:00            10
12495   case_9995 0 days 09:00:00            10
12497   case_9997 0 days 09:00:00            10
12499   case_9999 0 days 09:00:00            10

[7244 rows x 3 columns]            caseid        duration  event_number
0          case_0 0 days 06:00:00             7
3        case_100 0 days 06:00:00             7
4       case_1000 0 days 06:00:00             7
11     case_10006 0 days 06:00:00             7
15      case_1001 0 days 06:00:00             7
...           ...             ...           ...
12484   case_9985 0 days 06:00:00             7
12486   case_9987 0 days 06:00:00             7
12494   case_9994 0 days 06:00:00             7
12496   case_9996 0 days 06:00:00             7
12498   case_9998 0 days 06:00:00             7

[4188 rows x 3 columns]

In [10]:
#7.Find the longest case(s) by number of events
def find_longest_case(augmented_event_log):
    longest_case = augmented_event_log[augmented_event_log['event_number'] == augmented_event_log['event_number'].max()]
    return longest_case

longest_case_small = find_longest_case(augmented_event_log_small)
print(longest_case_small)

           caseid        duration  event_number
2         case_10 0 days 09:00:00            10
5      case_10000 0 days 09:00:00            10
7      case_10002 0 days 09:00:00            10
8      case_10003 0 days 09:00:00            10
9      case_10004 0 days 09:00:00            10
...           ...             ...           ...
12492   case_9992 0 days 09:00:00            10
12493   case_9993 0 days 09:00:00            10
12495   case_9995 0 days 09:00:00            10
12497   case_9997 0 days 09:00:00            10
12499   case_9999 0 days 09:00:00            10

[7244 rows x 3 columns]